mat-toolbar{
  padding: 0px;
  background-color: rgba(208, 214, 224, 0.79);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
}

.logo-align{
  display: flex;
  align-items: center;
  width: 578px;
  height: 100%;
  padding-left: 16px;
}

.card {
  display: flex;
  height: 100%;
  width: 54%;
  justify-content: flex-end;
  align-items: center;
}

.enlace{
    text-decoration: none;
    color: #003F5C;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 700;
    word-wrap: break-word;
    margin-left: 41px;
}

.enlace:hover{
    text-decoration: underline;
}

.logo{
  margin-top: 10px;
}

.icon{
  color: #2f4b70;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  height: 50px;
  width: 50px;
}

button{
  margin-right: 45px;
}