<mat-card class="card">
    <div>
        <img
          mat-card-md-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Image of a Shiba Inu"
        />
    </div>
    <div>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Nombre Usuario</mat-card-title>
            <mat-card-subtitle>Estrellas</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content> Descripción </mat-card-content>
        <mat-card-content> Skills </mat-card-content>
        <mat-card-content> Experiencia </mat-card-content>
    </div>
</mat-card>
