<div class="card" [class.selected]="selectedCard === person.id" (click)="toggleSelection(person.id)" *ngFor="let person of personList">
  <div class="background"></div>
      <mat-card class="avatar">
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Avatar" />
      </mat-card>
    <div>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title class="name">{{person.nombre}}</mat-card-title>
            <mat-card-subtitle class="stars">
              <ng-container *ngFor="let _ of getStarsArray(person.valoracion)">
                <mat-icon>star</mat-icon>
              </ng-container>
            </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <div class="badge">
          <mat-icon class="badge-inner">star</mat-icon>
          <mat-icon class="badge-inner">star</mat-icon>
          <mat-icon class="badge-inner">star</mat-icon>
      </div>
        <mat-card-content class="description"> Descripción </mat-card-content>
        <mat-card-content class="skills"> Skills </mat-card-content>
        <mat-card-content class="experience"> Experiencia </mat-card-content>
    </div>
    <div class="ribbon">
      <mat-icon class="ribbon-inner">star</mat-icon>
    </div>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="!personList"></mat-progress-bar>