<div class="card" [class.selected]="selectedChat === chat.userIds[1]" (click)="toggleSelection(chat.userIds[1])" *ngFor="let chat of personListChat">
  <div class="background"></div>
  <mat-card class="avatar">
    <img src="{{chat.users[1].foto? chat.users[1].foto:'https://images.ctfassets.net/cd2ivy5nzajd/66yupScvVbLHn3DfNuUFxn/51931efa2609d2da88644db6d1ed3e96/anonymous-avatar-icon-25.png'}}" alt="Avatar" />
  </mat-card>
  <div>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="name">{{chat.users[1].nombre}}</mat-card-title>
        <mat-card-subtitle class="message">
          <ng-container>
            {{chat.lastMessage}}
          </ng-container>
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
  </div>
  <div class="hora">
    {{chat.lastMessageDate | date : 'shortTime'}}
  </div>
</div>
